api.port=

avo.host=d
avo.database=
avo.user=
avo.password=

mm.name = 
mm.link = 
mm.secret = 


borndigital.db.host=
borndigital.db.port=
borndigital.db.username=
borndigital.db.password=
borndigital.db.database=

ams.db.host=
ams.db.port=
ams.db.username=
ams.db.password=
ams.db.database=
ams.db.carrier=
ams.db.events=
ams.db.paper_carrier=
ams.db.paper_event=
ams.db.organizations=

ldap2mam.host=
ldap2mam.port=

mam.db.host=
mam.db.port=
mam.db.username=
mam.db.password=
mam.db.database=
mam.db.datatable.pids=
mam.db.datatable.events=