mam.db.host=
mam.db.port=
mam.db.username=
mam.db.password=
mam.db.database=
mam.db.datatable.pids=
mam.db.datatable.events=

ams.db.host=
ams.db.port=
ams.db.username=
ams.db.password=
ams.db.database=